.noimg {
    width: 5rem !important;
    height: 5rem !important;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243 244 246);
}

.noimg1 {
    width: 3.5rem !important;
    height: 3.5rem !important;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243 244 246);
}

.noimg2 {
    width: 5rem !important;
    height: 5rem !important;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243 244 246);
}

.noimg3 {
    width: 8rem !important;
    height: 8rem !important;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243 244 246);
}

.noimg4 {
    width: 10rem !important;
    height: 10rem !important;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243 244 246);
}

.noimg5 {
    width: 15rem !important;
    height: 15rem !important;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243 244 246);
}

.noImge {
    text-transform: uppercase;
    opacity: 1;
    color: rgb(75 85 99);
    font-weight: 500;
}

.img {
    width: 5rem;
    height: 5rem;
    border-radius: 5%;
}

.img1 {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 5%;
}

.img2 {
    width: 5rem;
    height: 5rem;
    border-radius: 5%;
}

.img3 {
    width: 8rem;
    height: 8rem;
    border-radius: 5%;
}

.img4 {
    width: 10rem;
    height: 10rem;
    border-radius: 5%;
}

.img5 {
    width: 15rem;
    height: 15rem;
    border-radius: 5%;
}

.no-img {
    position: absolute;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity));
}

.online0 {
    position: absolute;
    top: -7px;
    right: -8px;
    z-index: 9999;
    border: 3px solid white;
    background-color: rgb(24, 175, 24);
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.online {
    position: absolute;
    top: -7px;
    right: -8px;
    z-index: 9999;
    border: 3px solid white;
    background-color: rgb(24, 175, 24);
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.online1 {
    position: absolute;
    top: -7px;
    right: -9px;
    z-index: 9999;
    border: 3px solid white;
    background-color: rgb(24, 175, 24);
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.online2 {
    position: absolute;
    right: -9px;
    top: -7px;
    z-index: 9999;
    border: 3px solid white;
    background-color: rgb(24, 175, 24);
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.online3 {
    position: absolute;
    right: -9px;
    top: -7px;
    z-index: 9999;
    border: 3px solid white;
    background-color: rgb(24, 175, 24);
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.online4 {
    position: absolute;
    right: -8px;
    top: -7px;
    z-index: 9999;
    border: 3px solid white;
    background-color: rgb(24, 175, 24);
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.offline0 {
    position: absolute;
    top: -7px;
    right: -9px;
    z-index: 9999;
    border: 3px solid white;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.offline {
    position: absolute;
    top: -7px;
    right: -9px;
    z-index: 9999;
    border: 3px solid white;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.offline1 {
    position: absolute;
    top: -7px;
    right: -9px;
    z-index: 9999;
    border: 3px solid white;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.offline2 {
    position: absolute;
    top: -7px;
    right: -9px;
    z-index: 9999;
    border: 3px solid white;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.offline3 {
    position: absolute;
    top: -7px;
    right: -9px;
    z-index: 9999;
    border: 3px solid white;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.offline4 {
    position: absolute;
    top: -7px;
    right: -9px;
    z-index: 9999;
    border: 3px solid white;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.online-round0 {
    position: absolute;
    top: 2px;
    right: 0px;
    z-index: 9999;
    border: 3px solid white;
    background-color: rgb(24, 175, 24);
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.online-round {
    position: absolute;
    top: 2px;
    right: 0px;
    z-index: 9999;
    border: 3px solid white;
    background-color: rgb(24, 175, 24);
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.online-round1 {
    position: absolute;
    top: 4px;
    right: 2px;
    z-index: 9999;
    border: 3px solid white;
    background-color: rgb(24, 175, 24);
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.online-round2 {
    position: absolute;
    top: 9px;
    right: 13px;
    z-index: 9999;
    border: 3px solid white;
    background-color: rgb(24, 175, 24);
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.online-round3 {
    position: absolute;
    top: 10px;
    right: 18px;
    z-index: 9999;
    border: 3px solid white;
    background-color: rgb(24, 175, 24);
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.online-round4 {
    position: absolute;
    top: 25px;
    right: 28px;
    z-index: 9999;
    border: 3px solid white;
    background-color: rgb(24, 175, 24);
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.offline-round0 {
    position: absolute;
    top: 2px;
    right: 0px;
    z-index: 9999;
    border: 3px solid white;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.offline-round {
    position: absolute;
    top: 2px;
    right: 0px;
    z-index: 9999;
    border: 3px solid white;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.offline-round1 {
    position: absolute;
    top: 4px;
    right: 2px;
    z-index: 9999;
    border: 3px solid white;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.offline-round2 {
    position: absolute;
    top: 9px;
    right: 13px;
    z-index: 9999;
    border: 3px solid white;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.offline-round3 {
    position: absolute;
    top: 10px;
    right: 18px;
    z-index: 9999;
    border: 3px solid white;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.offline-round4 {
    position: absolute;
    top: 25px;
    right: 28px;
    z-index: 9999;
    border: 3px solid white;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 9999px;
}

.user-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* width:10rem; */
}

.user-name {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    visibility: hidden;
    opacity: 0;
    line-height: 1.5rem;
    transition: opacity 0.3s;
    text-wrap: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -44px;
    font-weight: bold;
    text-transform: capitalize;
}

.user-name::before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background-color: black;

    transform: rotate(45deg);
    top: 80%;
    left: 42%;
    z-index: -1;
}

.user-container:hover .user-name {
    width: fit-content;
    visibility: visible;
    opacity: 1;
}

.image-container {
    position: relative;
}