<div style="display: flex; justify-content: center;align-items:center;height:90vh">
    <div>
        <div class="user-container">
            <span class="user-name">{{ userName }}</span>
            <div class="image-container">
                <div *ngIf="!image" [ngClass]="{
                    'noimg' : size === '',
                    'noimg1' : size === 'xs',
                    'noimg2' : size === 'sm',
                    'noimg3' : size === 'md',
                    'noimg4' : size === 'gl',
                    'noimg5' : size === 'xl'
                  }" [style.border-radius]="style === 'rounded' ? '50%' : '5%'">
                    <span class="noImge">{{ getInitials(userName) }}</span>
                </div>
                <img *ngIf="image" [src]="image" alt="" class="img" [ngClass]="{
                'img' : size === '',
                'img1' : size === 'xs',
                'img2' : size === 'sm',
                'img3' : size === 'md',
                'img4' : size === 'gl',
                'img5' : size === 'xl'
              }" [style.border-radius]="style === 'rounded' ? '50%' : '5%'">
            </div>
            <span [ngClass]="{ 
                'online0': online && size === '' && style === 'square',
                'online': online && size === 'xs' && style === 'square',
                'online1': online && size === 'sm' && style === 'square',
                'online2': online && size === 'md' && style === 'square',
                'online3': online && size === 'gl' && style === 'square',
                'online4': online && size === 'xl' && style === 'square',
                'offline0': !online && size === '' && style === 'square',
                'offline': !online && size === 'xs' && style === 'square',
                'offline1': !online && size === 'sm' && style === 'square',
                'offline2': !online && size === 'md' && style === 'square',
                'offline3': !online && size === 'gl' && style === 'square',
                'offline4': !online && size === 'xl' && style === 'square',
                'online-round0': online && size === '' && style === 'rounded',
                'online-round': online && size === 'xs' && style === 'rounded',
                'online-round1': online && size === 'sm' && style === 'rounded',
                'online-round2': online && size === 'md' && style === 'rounded',
                'online-round3': online && size === 'gl' && style === 'rounded',
                'online-round4': online && size === 'xl' && style === 'rounded',
                'offline-round0': !online && size === '' && style === 'rounded',
                'offline-round': !online && size === 'xs' && style === 'rounded',
                'offline-round1': !online && size === 'sm' && style === 'rounded',
                'offline-round2': !online && size === 'md' && style === 'rounded',
                'offline-round3': !online && size === 'gl' && style === 'rounded',
                'offline-round4': !online && size === 'xl' && style === 'rounded'
             }"></span>
        </div>
        <!-- <div *ngIf="userName"  class="user-container">
            <span class="user-name">{{ userName }}</span>
            <div class="image-container">
            <img [src]="image" alt="" class="img"
            
               >
               </div> -->
        <!-- </div> -->

    </div>
</div>